In [12]:
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', 20)

clients = pd.read_csv("clients.csv", sep=';',  encoding='windows-1252')
produits = pd.read_csv("produits.csv", sep=';',  encoding='windows-1252')
semaine1 = pd.read_csv("semaine 1.csv", sep=';',  encoding='windows-1252')
semaine2 = pd.read_csv("semaine 2.csv", sep=';',  encoding='windows-1252')

La jointure extérieure complète produit l'ensemble de tous les enregistrements du tableau A et du tableau B, avec des enregistrements correspondants des deux côtés lorsqu'ils sont disponibles. S'il n'y a pas de correspondance, le côté manquant contiendra null.

In [13]:
semaine1.merge(semaine2, how="outer", on="client")

      client  produit_x  produit_y
0        512        3.0        NaN
1        499        3.0        7.0
2        499        3.0        5.0
3        499        3.0        1.0
4        499       13.0        7.0
5        499       13.0        5.0
6        499       13.0        1.0
7         11        9.0       10.0
8         11        9.0        9.0
9         11        4.0       10.0
...      ...        ...        ...
1222      37       18.0       17.0
1223      37       18.0       20.0
1224      37       18.0        4.0
1225      37       18.0       10.0
1226      37       19.0       17.0
1227      37       19.0       20.0
1228      37       19.0        4.0
1229      37       19.0       10.0
1230      30       11.0       22.0
1231     536        NaN        7.0

[1232 rows x 3 columns]

In [15]:
fusion = semaine1.merge(semaine2, how="outer", on="client", indicator=True)

In [16]:
fusion["_merge"].value_counts()

both          1230
right_only       1
left_only        1
Name: _merge, dtype: int64

In [18]:
fusion["_merge"].isin(["right_only","left_only"])

0        True
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
        ...
1222    False
1223    False
1224    False
1225    False
1226    False
1227    False
1228    False
1229    False
1230    False
1231     True
Name: _merge, Length: 1232, dtype: bool

In [20]:
masque = fusion["_merge"].isin(["right_only","left_only"])
fusion[masque]

      client  produit_x  produit_y      _merge
0        512        3.0        NaN   left_only
1231     536        NaN        7.0  right_only