In [1]:
import pandas as pd
import numpy as np

## Lire un fichier json

In [2]:
df = pd.read_json("exemple.json", orient='columns')

# View the first ten rows
df.head()

    entier  categorie                dateh
0        5          1  1957-02-08 17:42:24
1        5          0  1957-02-20 07:29:04
10       5          0  1957-06-04 11:29:04
11       5          0  1957-06-16 01:15:44
12       8          0  1957-06-27 15:02:24

## sauver un fichier json

In [3]:
df.to_json("sauve.json")

 ## exemples de format de sauvegarde

In [4]:
df = pd.DataFrame([['a', 'b'], ['c', 'd']],
...                   index=['ligne 1', 'ligne 2'],
...                   columns=['col 1', 'col 2'])

In [5]:
df

        col 1 col 2
ligne 1     a     b
ligne 2     c     d

In [6]:
df.to_json(orient='split')

'{"columns":["col 1","col 2"],"index":["ligne 1","ligne 2"],"data":[["a","b"],["c","d"]]}'

In [7]:
# # Encodage/décodage d'un dataframe  à l'aide de records
# Notez que les étiquettes d'index ne sont pas préservées avec cet encodage.
df.to_json(orient='records')

'[{"col 1":"a","col 2":"b"},{"col 1":"c","col 2":"d"}]'

In [8]:
# # Encodage/décodage d'un dataframe  à l'aide de colonne
df.to_json(orient='columns')

'{"col 1":{"ligne 1":"a","ligne 2":"c"},"col 2":{"ligne 1":"b","ligne 2":"d"}}'

In [9]:
# Encodage/décodage d'un dataframe  à l'aide de'valeurs' :
df.to_json(orient='values')

'[["a","b"],["c","d"]]'

In [10]:
#Encodage avec le schéma de table
df.to_json(orient='table')

'{"schema":{"fields":[{"name":"index","type":"string"},{"name":"col 1","type":"string"},{"name":"col 2","type":"string"}],"primaryKey":["index"],"pandas_version":"0.20.0"},"data":[{"index":"ligne 1","col 1":"a","col 2":"b"},{"index":"ligne 2","col 1":"c","col 2":"d"}]}'