# Marché du logement
## Introduction :

Cette fois, nous allons créer notre propre jeu de données avec des numéros fictifs pour décrire un marché du logement. Comme nous allons créer des données aléatoires, n'essayez pas de raisonner avec les chiffres.

# 1 - Importer pandas et numpy

In [1]:
import pandas as pd
import numpy as np

# 2. Créez 3 séries différentes, chacune d'une longueur de 100:

    La première avec des nombres aléatoires de 1 à 4.
    La seconde avec des nombres aléatoires de 1 à 3
    La troisième avec des nombres aléatoires de 10 000 à 30 000.

In [1]:

# print(s1, s2, s3)

# 3 - Créer un DataFrame en joignant les 3 séries par colonne

# 4 - Changer le titre des colonnes en mettant chambre, douche, prixm2

 # 5 - Créer une série avec s1,s2,s3.
 
 Ce Dataframe doit contenir la totalité des séries s1,s2,s3 mais sur une seule colonne

# 6 - Quel est la taille de cette série ?

# 7 - Quel est le type d'objet ?

# 8 - Créer un dataFrame d'une colonne avec cette série

# 9 - Réindexer col