# Vin

### Introduction :

Cet exercice est une adaptation du jeu de données sur les vins. Le but est de s'entraîner à effacer des données du dataframe.

# 1 - Importer les librairies pandas et numpy

In [1]:
import pandas as pd
import numpy as np

# 2 - Créer le DataFrame

L'url contenant les données est :
https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data

C'est un fichier csv.
Créer un dataframe nommé vin

In [3]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data'

# 3 - Afficher les 5 premières lignes

# 4 -Supprimer les colonnes 1, 4, 7, 9, 12, 13, 14

# 5 -  Affectez les nom ci-dessous aux colonnes :


1) alcool

2) acide_malique

3) alcalinite

4) magnesium

5) flavonoides

6) proanthocyanines

7) teinte

# 6 - Transformer les 3 premières lignes de la colonne acide_malique en NaN

# 7 - Transformer la ligne 3 et 4 de la colonne magnesium en NaN

# 8 - Remplacer les valeurs NaN de la colonne acide_malique par 10

et ceux de la colonne magnesium par 100

# 9 - Vérifier le nombre de valeurs manquantes

# 10 - Créer une série avec 30 valeurs au hasard entre 0 et 30

# 11 - Remplacer les lignes correspondantes à la serie dans le dataframe par NaN

# 12 - Combien de valeurs sont NaN ?

# 13 - Supprimer les lignes avec au moins une valeur NaN

# 14 - Réinitialiser l'index