In [1]:
import pandas as pd
import numpy as np

In [5]:
exam_data  = {'nom': ['Anne', 'Alex', 'catherine', 'Jean', 'Emillie', 'Michel', 'Matieu', 'Laura', 'Kevin', 'Jonas'],
        'note': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'qualification': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
df

         nom  note qualification
a       Anne  12.5           yes
b       Alex   9.0            no
c  catherine  16.5           yes
d       Jean   NaN            no
e    Emillie   9.0            no
f     Michel  20.0           yes
g     Matieu  14.5           yes
h      Laura   NaN            no
i      Kevin   8.0            no
j      Jonas  19.0           yes

La sélection booléenne peut être utilisée pour supprimer des lignes d'un DataFrame en créant un nouveau DataFrame sans les lignes désirées.

Supposons que nous voulions supprimer les rangées où les notes sont en dessous de 10. Pour ce faire, le processus consiste d'abord à déterminer quelles lignes correspondent à ces critères, puis à sélectionner les lignes qui ne correspondent pas.

In [7]:
# On cherche les lignes 
selection = df.note < 10
# On vérifie le nombre d'éléments
# ainsi que le nombre d'élements qui vérifie la règle
"{0} {1}".format(len(selection), selection.sum())

selection

a    False
b     True
c    False
d    False
e     True
f    False
g    False
h    False
i     True
j    False
Name: note, dtype: bool

In [4]:
result = df[~selection]
result

         nom  note qualification
a       Anne  12.5           yes
c  catherine  16.5           yes
d       Jean   NaN            no
f     Michel  20.0           yes
g     Matieu  14.5           yes
h      Laura   NaN            no
j      Jonas  19.0           yes