In [1]:
import pandas as pd
import numpy as np

In [12]:
" vide ".strip()

'vide'

In [13]:
" vide ".lstrip()

'vide '

In [15]:
" vide ".rstrip()

' vide'

In [8]:
df=pd.DataFrame([" vide ", " second", "troisieme "],columns=[' colonne A '])

In [ ]:
df.columns= df.columns.str.strip()

In [6]:
df

            0
0       vide
1      second
2  troisieme

In [7]:
df['colonne A'].str.strip()

0         vide
1       second
2    troisieme
Name: 0, dtype: object

In [9]:
df['colonne A'].str.lstrip()

0         vide
1        second
2    troisieme
Name: 0, dtype: object

In [10]:
df['colonne A'].str.rstrip()

0         vide
1       second
2    troisieme
Name: 0, dtype: object

In [ ]:
"-"+df["colonne A"].str.strip()+"-"