In [1]:
import pandas as pd
import numpy as np

Créons un nouveau DataFrame

In [9]:
df = pd.DataFrame([[np.nan, 2, np.nan, 0, np.nan], [3, 4, np.nan, 1, np.nan],[np.nan, np.nan, np.nan,np.nan, np.nan], [np.nan, np.nan, np.nan, 5, np.nan],[3, 4, np.nan, 1, np.nan], [3, 4, 0, 1, np.nan]], columns=list('ABCDE'))

In [10]:
df.shape

(6, 5)

In [11]:
df

     A    B    C    D   E
0  NaN  2.0  NaN  0.0 NaN
1  3.0  4.0  NaN  1.0 NaN
2  NaN  NaN  NaN  NaN NaN
3  NaN  NaN  NaN  5.0 NaN
4  3.0  4.0  NaN  1.0 NaN
5  3.0  4.0  0.0  1.0 NaN

Quelle est la dimension de notre DataFrame ?

df.dropna(axis=0, how='any', thresh=None, sous-ensemble=None, inplace=False)
Supprimer les valeurs manquantes.

Paramètres
----------
axe : {0 ou'index', 1 ou'colonnes'}, par défaut 0
    Déterminee si les lignes ou les colonnes qui contiennent des valeurs manquantes seront enlevée.

    0, ou'Lignes' 
    1, ou " colonnes " 
   
how : {'any','all'}, default'any', any'.
    Détermine si la ligne ou la colonne est supprimée du DataFrame, lorsque nous avons
    au moins un NA ou tous les NA.

    any : Si des valeurs NA sont présentes, supprime cette ligne ou colonne.
    Si toutes les valeurs sont NA, supprime cette ligne ou colonne.
    
inplace : bool, default False
    Si Vrai, effectuer l'opération sur place et retourner Aucun.

Retours
-------
DataFrame
    DataFrame avec des entrées NA en est sorti.

In [12]:
# supprime les colonnes qd Nan est présent
df.dropna(axis=1, how='all')

     A    B    C    D
0  NaN  2.0  NaN  0.0
1  3.0  4.0  NaN  1.0
2  NaN  NaN  NaN  NaN
3  NaN  NaN  NaN  5.0
4  3.0  4.0  NaN  1.0
5  3.0  4.0  0.0  1.0

In [13]:
# supprime les lignes qd Nan est présent
df.dropna(axis=0, how='all')

     A    B    C    D   E
0  NaN  2.0  NaN  0.0 NaN
1  3.0  4.0  NaN  1.0 NaN
3  NaN  NaN  NaN  5.0 NaN
4  3.0  4.0  NaN  1.0 NaN
5  3.0  4.0  0.0  1.0 NaN

In [14]:
# supprime les colonnes qd Nan au moins est présent
df.dropna(axis=1, how='any')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5]

In [15]:
df=df.append({'A':3, 'B':4,'C':0,'D':1,'E':2}, ignore_index=True)
# supprime les lignes qd Nan au moins est présent
df.dropna(axis=0, how='any')

Empty DataFrame
Columns: [A, B, C, D, E]
Index: []

In [26]:
 #Supprime ligne si pas de Nan >= 3
df.dropna(thresh=3)

     A    B    C    D   E
1  3.0  4.0  NaN  1.0 NaN
4  3.0  4.0  NaN  1.0 NaN
5  3.0  4.0  0.0  1.0 NaN

In [1]:
 #Supprime colonne si pas de Nan > 3
df.dropna(axis=1,thresh=3)

NameError: name 'df' is not defined

In [28]:
 #Supprime ligne si  Nan est trouvé dans colonne A
df.dropna(axis=0, subset=['A'])

     A    B    C    D   E
1  3.0  4.0  NaN  1.0 NaN
4  3.0  4.0  NaN  1.0 NaN
5  3.0  4.0  0.0  1.0 NaN

In [30]:
 #Supprime colonne si  Nan est trouvé dans ligne index = 1
df.dropna(axis=1, subset=[1])

     A    B    D
0  NaN  2.0  0.0
1  3.0  4.0  1.0
2  NaN  NaN  NaN
3  NaN  NaN  5.0
4  3.0  4.0  1.0
5  3.0  4.0  1.0