In [1]:
import pandas as pd
import numpy as np

In [23]:
exam_data  = {'nom': ['Anne', 'Alex', 'catherine', 'Jean', 'Emillie', 'Michel', 'Matieu', 'Laura', 'Kevin', 'Jonas'],
        'note': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'qualification': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06'])
ser = pd.to_datetime(ser)
ser.dtypes

dtype('<M8[ns]')

Les valeurs scalaires dans un DataFrame peuvent être modifiées par l'affectation de la nouvelle valeur au résultat de la recherche de valeur à l'aide des attributs .iloc et.loc.

Ces trois attributs peuvent tous être passés par les sélecteurs de ligne et de colonne, et le résultat peut se voir attribuer une nouvelle valeur qui sera faite dans le DataFrame d'origine.

.loc peut être utilisé en passant soit l'étiquette d'index de la ligne et le nom de la colonne, soit l'emplacement entier de la ligne et de la colonne.

In [7]:
troisPrem = df[:3].copy()
troisPrem

%timeit troisPrem.loc['b', 'note'] = 0

849 µs ± 42.7 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [6]:
%timeit troisPrem.iloc[1, 0] = 15.5

878 µs ± 90 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [4]:
troisPrem.loc['b', 'note'] = 0
troisPrem

         nom  note qualification
a       Anne  12.5           yes
b       Alex   0.0            no
c  catherine  16.5           yes

.loc a des performance plus faible que iloc. Donc autant que faire ce peut utilisez plutot iloc.

In [5]:
troisPrem = df[:3].copy()
troisPrem

         nom  note qualification
a       Anne  12.5           yes
b       Alex   9.0            no
c  catherine  16.5           yes

In [6]:
# On va rechercher l'identifant de la colonne
note_loc = df.columns.get_loc('note')

# On va cherche le n° d ela ligne 'b'
ligne_loc = df.index.get_loc('b')

# On change la valeur
troisPrem.iloc[ligne_loc, note_loc] = 15.5
troisPrem

         nom  note qualification
a       Anne  12.5           yes
b       Alex  15.5            no
c  catherine  16.5           yes