In [2]:
import pandas as pd
import numpy as np

In [3]:
exam_data  = {'nom': ['Anne', 'Alex', 'catherine', 'Jean', 'Emillie', 'Michel', 'Matieu', 'Laura', 'Kevin', 'Jonas'],
        'note': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'qualification': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
df

         nom  note qualification
a       Anne  12.5           yes
b       Alex   9.0            no
c  catherine  16.5           yes
d       Jean   NaN            no
e    Emillie   9.0            no
f     Michel  20.0           yes
g     Matieu  14.5           yes
h      Laura   NaN            no
i      Kevin   8.0            no
j      Jonas  19.0           yes

In [4]:
df['note'].add(3)

a    15.5
b    12.0
c    19.5
d     NaN
e    12.0
f    23.0
g    17.5
h     NaN
i    11.0
j    22.0
Name: note, dtype: float64

In [5]:
df['note'] - 2

a    10.5
b     7.0
c    14.5
d     NaN
e     7.0
f    18.0
g    12.5
h     NaN
i     6.0
j    17.0
Name: note, dtype: float64

In [6]:
df['note'].sub(2) # on soutrer

a    10.5
b     7.0
c    14.5
d     NaN
e     7.0
f    18.0
g    12.5
h     NaN
i     6.0
j    17.0
Name: note, dtype: float64

In [7]:
df['note']+2

a    14.5
b    11.0
c    18.5
d     NaN
e    11.0
f    22.0
g    16.5
h     NaN
i    10.0
j    21.0
Name: note, dtype: float64

In [8]:
# vous pouvez aussi multiplier
df['note'].mul(2)

a    25.0
b    18.0
c    33.0
d     NaN
e    18.0
f    40.0
g    29.0
h     NaN
i    16.0
j    38.0
Name: note, dtype: float64

In [9]:
df['note'].div(2)

a     6.25
b     4.50
c     8.25
d      NaN
e     4.50
f    10.00
g     7.25
h      NaN
i     4.00
j     9.50
Name: note, dtype: float64

In [10]:
df['note'].mod(2)

a    0.5
b    1.0
c    0.5
d    NaN
e    1.0
f    0.0
g    0.5
h    NaN
i    0.0
j    1.0
Name: note, dtype: float64

In [11]:
df['note'].pow(2)

a    156.25
b     81.00
c    272.25
d       NaN
e     81.00
f    400.00
g    210.25
h       NaN
i     64.00
j    361.00
Name: note, dtype: float64