In [1]:
import pandas as pd

In [4]:
df = pd.DataFrame({ 'objet': ['a', 'b', 'c', 'c'],
                     'numerique': [1, 2, 3,4],
                     'categorie': pd.Categorical(['d','e','f','g'])
                  })

df.describe(include='all')

       objet  numerique categorie
count      4   4.000000         4
unique     3        NaN         4
top        c        NaN         g
freq       2        NaN         1
mean     NaN   2.500000       NaN
std      NaN   1.290994       NaN
min      NaN   1.000000       NaN
25%      NaN   1.750000       NaN
50%      NaN   2.500000       NaN
75%      NaN   3.250000       NaN
max      NaN   4.000000       NaN

In [7]:
df['numerique'].describe(percentiles=[.1, .3, .65, .8])

count    4.000000
mean     2.500000
std      1.290994
min      1.000000
10%      1.300000
30%      1.900000
50%      2.500000
65%      2.950000
80%      3.400000
max      4.000000
Name: numerique, dtype: float64