In [1]:
import pandas as pd
import numpy as np

In [2]:
exam_data  = {'nom': ['Anne', 'Alex', 'catherine', 'Jean', 'Emillie', 'Michel', 'Matieu', 'Laura', 'Kevin', 'Jonas'],
        'note': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
              'moyenne' : [12.0, 9, 16.0, 5.0, 9.0, 20.0, 14.0, 15.0, 8.0, 19.0],
        'qualification': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes'],
              'date': ['2005-05-30', '2007-08-12', '2012-08-10', '2005-06-15', '2005-06-13', '2005-01-07', '2007-04-10', '2005-05-19', '2006-07-04', '2006-09-28'],
         'profession': ['boulanger', 'chanteur', 'boulanger', 'cuisinier', 'conducteur', 'cuisinier', 'livreur', 'pilote de ligne', 'm√©canicien', np.NAN]}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)

isin va nus permettre de chercher rapidement une valeur dans un dataframe ou un de ces colonnes.

In [5]:
filtrePrenom=df['nom'].isin(['France'])
df[filtrePrenom]

Empty DataFrame
Columns: [nom, note, moyenne, qualification, date, profession]
Index: []

In [6]:
filtrePrenom=df['nom'].isin(['Anne'])
df[filtrePrenom]

    nom  note  moyenne qualification        date profession
a  Anne  12.5     12.0           yes  2005-05-30  boulanger

In [7]:
filtreTout=df.isin(['Anne','yes','cuisinier'])
df[filtreTout]

    nom  note  moyenne qualification date profession
a  Anne   NaN      NaN           yes  NaN        NaN
b   NaN   NaN      NaN           NaN  NaN        NaN
c   NaN   NaN      NaN           yes  NaN        NaN
d   NaN   NaN      NaN           NaN  NaN  cuisinier
e   NaN   NaN      NaN           NaN  NaN        NaN
f   NaN   NaN      NaN           yes  NaN  cuisinier
g   NaN   NaN      NaN           yes  NaN        NaN
h   NaN   NaN      NaN           NaN  NaN        NaN
i   NaN   NaN      NaN           NaN  NaN        NaN
j   NaN   NaN      NaN           yes  NaN        NaN

In [8]:
df["date"]= pd.to_datetime(df["date"])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 6 columns):
nom              10 non-null object
note             8 non-null float64
moyenne          10 non-null float64
qualification    10 non-null object
date             10 non-null datetime64[ns]
profession       9 non-null object
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 560.0+ bytes