La sélection de lignes est utile pour explorer les données et se familiariser avec les valeurs que vous pourriez voir. Vous pouvez sélectionner des lignes en utilisant des parenthèses et des index de lignes.

Comprendre cela est important, car c'est une erreur courante que d'essayer et de sélectionner les lignes. en utilisant [] en raison de la familiarité avec d'autres langues ou structures de données.

Ce faisant, les erreurs sont souvent difficiles à diagnostiquer sans comprendre comment [] fonctionne. le long d'un axe complètement différent de celui d'un objet Série.

La sélection de ligne à l'aide de l'index sur un DataFrame se décompose en plusieurs catégories d'opérations : 
- Sélection à l'aide de l'opérateur [].
- Recherche par étiquette ou par emplacement à l'aide de .loc,.iloc et.ix. 
- Recherche à l'échelle par étiquette ou emplacement à l'aide de .at et .iat.

Le découpage d'un DataFrame à travers son index est syntaxiquement identique à celui d'une série. Par exemple, vous pouvez sélectionner les trois premières lignes du DataFrame avec le code suivant :

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 10)

In [2]:
exam_data  = {'nom': ['Anne', 'Alex', 'catherine', 'Jean', 'Emillie', 'Michel', 'Matieu', 'Laura', 'Kevin', 'Jonas'],
        'note': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'qualification': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
df

         nom  note qualification
a       Anne  12.5           yes
b       Alex   9.0            no
c  catherine  16.5           yes
d       Jean   NaN            no
e    Emillie   9.0            no
f     Michel  20.0           yes
g     Matieu  14.5           yes
h      Laura   NaN            no
i      Kevin   8.0            no
j      Jonas  19.0           yes

In [3]:
df[:3]

         nom  note qualification
a       Anne  12.5           yes
b       Alex   9.0            no
c  catherine  16.5           yes

Le ":3" entre parenthèses signifie effectivement "jusqu'à l'index 3".

In [6]:
# Vous pouvez également sélectionner avec le nom des index
df['f':'i']

      nom  note qualification
f  Michel  20.0           yes
g  Matieu  14.5           yes
h   Laura   NaN            no
i   Kevin   8.0            no

De même, vous pouvez tout sélectionner "de l'indice 4 à l'indice 7 (mais non compris)" :

In [7]:
df[4:7]

       nom  note qualification
e  Emillie   9.0            no
f   Michel  20.0           yes
g   Matieu  14.5           yes

## Sélection d'une ligne spécifique

Pour sélectionner une ligne spécifique, vous devez utiliser la méthode .iloc, avec l'index de la ligne entre parenthèses :

In [8]:
df.iloc[1]

nom              Alex
note                9
qualification      no
Name: b, dtype: object

In [9]:
#Pour sélectionner depuis une valeur d'index
df.loc['b']

nom              Alex
note                9
qualification      no
Name: b, dtype: object