In [1]:
import pandas as pd
import numpy as np

In [2]:
exam_data  = {'nom': ['Anne','Anne', 'Alex', 'catherine', 'Jean', 'Emillie', 'Emilie', 'Matieu', 'Laura', 'Kevin', 'Jonas'],
        'note': [12.5, 12.5,9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
              'moyenne' : [12.0, 12.0,9, 16.0, 5.0, 9.0, 20.0, 14.0, 15.0, 8.0, 19.0],
        'qualification': ['yes', 'yes','no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes'],
              'date': ['2005-05-30', '2005-05-30','2007-08-12', '2012-08-10', '2005-06-15', '2005-06-13', '2005-01-07', '2007-04-10', '2005-05-19', '2006-07-04', '2006-09-28'],
         'profession': ['boulanger', 'boulanger','chanteur', 'boulanger', 'cuisinier', 'conducteur', 'cuisinier', 'livreur', 'pilote de ligne', 'mécanicien', np.NAN]}
labels = ['a', 'k','b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)

In [3]:
df

         nom  note  moyenne qualification        date       profession
a       Anne  12.5     12.0           yes  2005-05-30        boulanger
k       Anne  12.5     12.0           yes  2005-05-30        boulanger
b       Alex   9.0      9.0            no  2007-08-12         chanteur
c  catherine  16.5     16.0           yes  2012-08-10        boulanger
d       Jean   NaN      5.0            no  2005-06-15        cuisinier
e    Emillie   9.0      9.0            no  2005-06-13       conducteur
f     Emilie  20.0     20.0           yes  2005-01-07        cuisinier
g     Matieu  14.5     14.0           yes  2007-04-10          livreur
h      Laura   NaN     15.0            no  2005-05-19  pilote de ligne
i      Kevin   8.0      8.0            no  2006-07-04       mécanicien
j      Jonas  19.0     19.0           yes  2006-09-28              NaN

In [6]:
df.set_index("nom", inplace=True)

In [7]:
df.loc["Alex"]

note                      9
moyenne                   9
qualification            no
date             2007-08-12
profession         chanteur
Name: Alex, dtype: object

In [8]:
df.loc["Alex", ["profession", "qualification"]]

profession       chanteur
qualification          no
Name: Alex, dtype: object

In [10]:
df.iloc[2, [2, 4]]

qualification          no
profession       chanteur
Name: Alex, dtype: object