In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 10)

In [2]:
exam_data  = {'nom': ['Anne', 'Alex', 'catherine', 'Jean', 'Emillie', 'Michel', 'Matieu', 'Laura', 'Kevin', 'Jonas'],
        'note': [12.5, 20, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
               'moyenne': [15, 18, 16.5, 9.1, 11.25, 17.5, 11.0, 13.8, 7.6, 14.3],
        'qualification': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
df

         nom  note  moyenne qualification
a       Anne  12.5    15.00           yes
b       Alex  20.0    18.00            no
c  catherine  16.5    16.50           yes
d       Jean   NaN     9.10            no
e    Emillie   9.0    11.25            no
f     Michel  20.0    17.50           yes
g     Matieu  14.5    11.00           yes
h      Laura   NaN    13.80            no
i      Kevin   8.0     7.60            no
j      Jonas  19.0    14.30           yes

In [3]:
df.query('nom == "Anne"')

    nom  note  moyenne qualification
a  Anne  12.5     15.0           yes

In [4]:
df.query('moyenne > 15')

         nom  note  moyenne qualification
b       Alex  20.0     18.0            no
c  catherine  16.5     16.5           yes
f     Michel  20.0     17.5           yes

In [ ]:
df.query("index > 'e'")

In [1]:
%timeit df.where(df.moyenne >15)

NameError: name 'df' is not defined

In [6]:
%timeit df.where(df.moyenne >15)
%timeit df.query('moyenne > 15')
%timeit df[df.moyenne >15]

1.35 ms ± 4.69 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [10]:
%timeit df[df.moyenne >15]

395 µs ± 2.19 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [13]:
%timeit df[(df.moyenne >15) & (df.nom != "Anne")]

770 µs ± 8.35 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [15]:
%timeit df.query('moyenne > 15 & nom != "Anne"')

1.86 ms ± 47.3 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [19]:
filtre1 = df.moyenne >15
filtre2 = df.nom != "Anne" 
%timeit df.where(filtre1 & filtre2)

2.14 ms ± 44.2 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [7]:
# On peut cherche également avec les fonctions in et NOT IN
df.query('nom in ["Anne","laura"]')

# en comparaison de
df[df.nom.isin(["Anne", "Laura"])]

    nom  note  moyenne qualification
a  Anne  12.5     15.0           yes

In [9]:
df.query('nom not in ["Anne","Laura"]')

         nom  note  moyenne qualification
b       Alex  20.0    18.00            no
c  catherine  16.5    16.50           yes
d       Jean   NaN     9.10            no
e    Emillie   9.0    11.25            no
f     Michel  20.0    17.50           yes
g     Matieu  14.5    11.00           yes
i      Kevin   8.0     7.60            no
j      Jonas  19.0    14.30           yes