In [3]:
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', 10)

clients = pd.read_csv("clients.csv", sep=';',  encoding='windows-1252')
produits = pd.read_csv("produits.csv", sep=';',  encoding='windows-1252')
semaine1 = pd.read_csv("semaine 1.csv", sep=';',  encoding='windows-1252')
semaine2 = pd.read_csv("semaine 2.csv", sep=';',  encoding='windows-1252')

In [4]:
pd.concat([semaine1,semaine2])

     idclient  idproduit
0         512          3
1         499          3
2         499         13
3          11          9
4          24         19
..        ...        ...
246        15         15
247        32         19
248         4         17
249        45          4
250        31          2

[501 rows x 2 columns]

In [5]:
len(pd.concat([semaine1,semaine2]))

501

In [6]:
pd.concat([semaine1,semaine2], ignore_index=True).head()

   idclient  idproduit
0       512          3
1       499          3
2       499         13
3        11          9
4        24         19

Pour faciliter la navigation utlérieure on peut rajouter un multiindex durant notre concaténation

In [11]:
ventehebdo = pd.concat([semaine1,semaine2],  keys=["sem1","sem2"])
ventehebdo

          client  produit
sem1 0         4        3
     1         2       13
     2        11        9
     3        24       19
     4        44       12
...          ...      ...
sem2 245      15       15
     246      32       19
     247       4       17
     248      45        4
     249      31        2

[500 rows x 2 columns]

In [20]:
ventehebdo.loc[("sem2",249)]

client     31
produit     2
Name: (sem2, 249), dtype: int64

In [21]:
ventehebdo.loc[("sem2",249),"client"]

31