In [1]:
import pandas as pd
import datetime as dt

In [2]:
plage = pd.date_range(start='2018-01-01', end="2018-12-31", freq="11D")
s = pd.Series(plage)
s.head()

0   2018-01-01
1   2018-01-12
2   2018-01-23
3   2018-02-03
4   2018-02-14
dtype: datetime64[ns]

In [3]:
s.dt.day

0      1
1     12
2     23
3      3
4     14
5     25
6      8
7     19
8     30
9     10
10    21
11     2
12    13
13    24
14     4
15    15
16    26
17     7
18    18
19    29
20     9
21    20
22    31
23    11
24    22
25     3
26    14
27    25
28     5
29    16
30    27
31     8
32    19
33    30
dtype: int64

In [5]:
s.dt.month

0      1
1      1
2      1
3      2
4      2
5      2
6      3
7      3
8      3
9      4
10     4
11     5
12     5
13     5
14     6
15     6
16     6
17     7
18     7
19     7
20     8
21     8
22     8
23     9
24     9
25    10
26    10
27    10
28    11
29    11
30    11
31    12
32    12
33    12
dtype: int64

In [8]:
s.dt.is_month_start

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
dtype: bool

In [9]:
s[s.dt.is_month_start]

0   2018-01-01
dtype: datetime64[ns]