In [1]:
import pandas as pd
import numpy as np

In [3]:
exam_data  = {'nom': ['Anne Dubrueil', 'Alex rien ', 'catherine Falet', 'Jean fontaine', 'Emillie wagner', 'Michel peche', 'Matieu zilo', 'Laura ingals', 'Kevin soipe', 'Jonas marin'],
        'note': [12.5, 20, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
         'moyenne': [15, 18, 16.5, 9.1, 11.25, 17.5, 11.0, 13.8, 7.6, 14.3],
        'qualification': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes'],
               'salaire horaire': [" 1000 €", "18 €", "16,5 €", "9,1 €", "11,25 €", "17,5 €", "11,0 €", "13,8 €", "7,6 €", "14,3 €"],
         'appreciations': ['correct', 'à suivre', 'correct', 'neutre', 'excellent', 'neutre', 'très bien', 'besoin de soutien', 'à suivre', 'besoin de soutien']
              
        }
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
df.set_index(keys=["qualification", "appreciations"], inplace=True)
df.sort_index(ascending=[False,True], inplace=True)
df

                                             nom  note  moyenne  \
qualification appreciations
yes           besoin de soutien      Jonas marin  19.0    14.30
              correct              Anne Dubrueil  12.5    15.00
              correct            catherine Falet  16.5    16.50
              neutre                Michel peche  20.0    17.50
              très bien              Matieu zilo  14.5    11.00
no            besoin de soutien     Laura ingals   NaN    13.80
              excellent           Emillie wagner   9.0    11.25
              neutre               Jean fontaine   NaN     9.10
              à suivre                Alex rien   20.0    18.00
              à suivre               Kevin soipe   8.0     7.60

                                salaire horaire
qualification appreciations
yes           besoin de soutien          14,3 €
              correct                    1000 €
              correct                    16,5 €
              neutre                     17,5 €
              très bien                  11,0 €
no            besoin de soutien          13,8 €
              excellent                 11,25 €
              neutre                      9,1 €
              à suivre                     18 €
              à suivre                    7,6 €

In [5]:
df.loc["no"]

                              nom  note  moyenne salaire horaire
appreciations
besoin de soutien    Laura ingals   NaN    13.80          13,8 €
excellent          Emillie wagner   9.0    11.25         11,25 €
neutre              Jean fontaine   NaN     9.10           9,1 €
à suivre               Alex rien   20.0    18.00            18 €
à suivre              Kevin soipe   8.0     7.60           7,6 €

In [7]:
df.loc[("no","neutre")]

e:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  """Entry point for launching an IPython kernel.

                                       nom  note  moyenne salaire horaire
qualification appreciations
no            neutre         Jean fontaine   NaN      9.1           9,1 €

In [8]:
df.loc[("no","neutre"), "moyenne"]

e:\Anaconda3\lib\site-packages\pandas\core\indexing.py:1472: PerformanceWarning: indexing past lexsort depth may impact performance.
  return self._getitem_tuple(key)

qualification  appreciations
no             neutre           9.1
Name: moyenne, dtype: float64

In [11]:
# ne va pas tenir compte des multi index
df.iloc[1,2]

15.0