In [1]:
import pandas as pd
import numpy as np

raw_data = {'regiment': ['RICM', 'RICM', 'RICM', '2 REP', '2 REP', '3 RIMA', '3 RIMA', '3 RIMA', '13 DBLE', '13 DBLE', '13 DBLE', '2 RIMA'], 
        'compagnie': ['1°', '1°', '2°', '2°', '1°', '1°', '2°', '2°','1°', '1°', '2°', '2°'], 
        'nom': ['Jean', 'Donovan', 'Ali', 'Fleur', 'René', 'John', 'Rambo', 'Steeve', 'Harry', 'Pierre', 'Riani', 'Philippe'], 
        'preScoreFamas': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postScoreFamas': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}
df = pd.DataFrame(raw_data, columns = ['regiment', 'compagnie', 'nom', 'preScoreFamas', 'postScoreFamas'])
df

   regiment compagnie       nom  preScoreFamas  postScoreFamas
0      RICM        1°      Jean              4              25
1      RICM        1°   Donovan             24              94
2      RICM        2°       Ali             31              57
3     2 REP        2°     Fleur              2              62
4     2 REP        1°      René              3              70
5    3 RIMA        1°      John              4              25
6    3 RIMA        2°     Rambo             24              94
7    3 RIMA        2°    Steeve             31              57
8   13 DBLE        1°     Harry              2              62
9   13 DBLE        1°    Pierre              3              70
10  13 DBLE        2°     Riani              2              62
11   2 RIMA        2°  Philippe              3              70

In [2]:
#Créez une variable groupby qui regroupe les preScoreFamas par régiment.
groupby_regiment = df['preScoreFamas'].groupby(df['regiment'])
groupby_regiment

Cette variable groupée est maintenant un objet GroupBy. Il n'a encore rien calculé, sauf quelques données intermédiaires sur la clé de groupe df['key1']. L'idée est que cet objet possède toutes les informations nécessaires pour ensuite appliquer une opération à chacun des groupes.

## Afficher un groupement

Utilisez list() pour montrer à quoi ressemble un groupement.

In [3]:
list(df['preScoreFamas'].groupby(df['regiment']))

[('13 DBLE', 8     2
  9     3
  10    2
  Name: preScoreFamas, dtype: int64), ('2 REP', 3    2
  4    3
  Name: preScoreFamas, dtype: int64), ('2 RIMA', 11    3
  Name: preScoreFamas, dtype: int64), ('3 RIMA', 5     4
  6    24
  7    31
  Name: preScoreFamas, dtype: int64), ('RICM', 0     4
  1    24
  2    31
  Name: preScoreFamas, dtype: int64)]

## Statistiques descriptives du Groupe

In [4]:
df['preScoreFamas'].groupby(df['regiment']).describe()

          count       mean        std  min    25%   50%    75%   max
regiment
13 DBLE     3.0   2.333333   0.577350  2.0   2.00   2.0   2.50   3.0
2 REP       2.0   2.500000   0.707107  2.0   2.25   2.5   2.75   3.0
2 RIMA      1.0   3.000000        NaN  3.0   3.00   3.0   3.00   3.0
3 RIMA      3.0  19.666667  14.011900  4.0  14.00  24.0  27.50  31.0
RICM        3.0  19.666667  14.011900  4.0  14.00  24.0  27.50  31.0

## Moyenne pour chaque régiment

In [5]:
groupby_regiment.mean()

regiment
13 DBLE     2.333333
2 REP       2.500000
2 RIMA      3.000000
3 RIMA     19.666667
RICM       19.666667
Name: preScoreFamas, dtype: float64

## Moyenne pour chaque compagnie d'un régiment

In [8]:
df['preScoreFamas'].groupby([df['regiment'], df['compagnie']]).mean()

regiment  compagnie
13 DBLE   1°            2.5
          2°            2.0
2 REP     1°            3.0
          2°            2.0
2 RIMA    2°            3.0
3 RIMA    1°            4.0
          2°           27.5
RICM      1°           14.0
          2°           31.0
Name: preScoreFamas, dtype: float64

## Moyenne pour chaque compagnie d'un régimentsans indexation hiérarchique.

In [9]:
df['preScoreFamas'].groupby([df['regiment'], df['compagnie']]).mean().unstack()

compagnie    1°    2°
regiment
13 DBLE     2.5   2.0
2 REP       3.0   2.0
2 RIMA      NaN   3.0
3 RIMA      4.0  27.5
RICM       14.0  31.0

## Grouper le DataFrame

In [10]:
df.groupby(['regiment', 'compagnie']).mean()

                    preScoreFamas  postScoreFamas
regiment compagnie
13 DBLE  1°                   2.5            66.0
         2°                   2.0            62.0
2 REP    1°                   3.0            70.0
         2°                   2.0            62.0
2 RIMA   2°                   3.0            70.0
3 RIMA   1°                   4.0            25.0
         2°                  27.5            75.5
RICM     1°                  14.0            59.5
         2°                  31.0            57.0

## Nombre d'observations

In [11]:
df.groupby(['regiment', 'compagnie']).size()

regiment  compagnie
13 DBLE   1°           2
          2°           1
2 REP     1°           1
          2°           1
2 RIMA    2°           1
3 RIMA    1°           1
          2°           2
RICM      1°           2
          2°           1
dtype: int64

## Itération d'une opération sur des groupes

In [12]:
# Regrouper les données par régiment et pour chaque régiment,
for name, group in df.groupby('regiment'): 
    # imprimer le nom du régiment
    print(name)
    # imprimer les données du régiment
    print(group)

13 DBLE
   regiment compagnie     nom  preScoreFamas  postScoreFamas
8   13 DBLE        1°   Harry              2              62
9   13 DBLE        1°  Pierre              3              70
10  13 DBLE        2°   Riani              2              62
2 REP
  regiment compagnie    nom  preScoreFamas  postScoreFamas
3    2 REP        2°  Fleur              2              62
4    2 REP        1°   René              3              70
2 RIMA
   regiment compagnie       nom  preScoreFamas  postScoreFamas
11   2 RIMA        2°  Philippe              3              70
3 RIMA
  regiment compagnie     nom  preScoreFamas  postScoreFamas
5   3 RIMA        1°    John              4              25
6   3 RIMA        2°   Rambo             24              94
7   3 RIMA        2°  Steeve             31              57
RICM
  regiment compagnie      nom  preScoreFamas  postScoreFamas
0     RICM        1°     Jean              4              25
1     RICM        1°  Donovan             24              94
2     RICM        2°      Ali             31              57

## Dans le dataframe "df", grouper par "régiment, prendre les valeurs moyennes des autres variables pour ces groupes, puis les afficher avec le préfixe moyenne_

In [13]:
df.groupby('regiment').mean().add_prefix('moyenne_')

          moyenne_preScoreFamas  moyenne_postScoreFamas
regiment
13 DBLE                2.333333               64.666667
2 REP                  2.500000               66.000000
2 RIMA                 3.000000               70.000000
3 RIMA                19.666667               58.666667
RICM                  19.666667               58.666667