In [1]:
import numpy as np 
import pandas as pd

pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)

Comme pour l'objet Series, on peut créer, modifier l'index du DataFrame

In [2]:
s1 = pd.Series(np.arange(1, 6, 1), index=[0,1,2,3,4])
s2 = pd.Series(np.arange(6, 11, 1))
dfa=pd.DataFrame({'c1': s1, 'c2': s2})
dfa

   c1  c2
0   1   6
1   2   7
2   3   8
3   4   9
4   5  10

In [4]:
# Création d'un dataFrame ans index
dfa = pd.DataFrame({'mois': [1, 4, 7, 10],
                  'an': [2012, 2014, 2013, 2014],
                  'vente':[55, 40, 84, 31]})
dfa

   mois    an  vente
0     1  2012     55
1     4  2014     40
2     7  2013     84
3    10  2014     31

In [6]:
# Ajout d'un index depuis une colonne
dfa.set_index('vente', inplace=True)
dfa

       mois    an
vente
55        1  2012
40        4  2014
84        7  2013
31       10  2014

In [7]:
# Si on veut revenir à notre index initial
dfa.reset_index()

   vente  mois    an
0     55     1  2012
1     40     4  2014
2     84     7  2013
3     31    10  2014