In [1]:
import pandas as pd
import numpy as np

In [2]:
raw_data = {'regiment': ['RICM', 'RICM', 'RICM', '2 REP', '2 REP', '3 RIMA', '3 RIMA', '3 RIMA', '13 DBLE', '13 DBLE', '13 DBLE', '2 RIMA'], 
        'compagnie': ['1°', '1°', '2°', '2°', '1°', '1°', '2°', '2°','1°', '1°', '2°', '2°'], 
        'nom': ['Jean', 'Donovan', 'Ali', 'Fleur', 'René', 'John', 'Rambo', 'Steeve', 'Harry', 'Pierre', 'Riani', 'Philippe'], 
        'preScoreFamas': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postScoreFamas': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}
df = pd.DataFrame(raw_data, columns = ['regiment', 'compagnie', 'nom', 'preScoreFamas', 'postScoreFamas'])
df

   regiment compagnie       nom  preScoreFamas  postScoreFamas
0      RICM        1°      Jean              4              25
1      RICM        1°   Donovan             24              94
2      RICM        2°       Ali             31              57
3     2 REP        2°     Fleur              2              62
4     2 REP        1°      René              3              70
5    3 RIMA        1°      John              4              25
6    3 RIMA        2°     Rambo             24              94
7    3 RIMA        2°    Steeve             31              57
8   13 DBLE        1°     Harry              2              62
9   13 DBLE        1°    Pierre              3              70
10  13 DBLE        2°     Riani              2              62
11   2 RIMA        2°  Philippe              3              70

In [3]:
analyse = df.groupby(["regiment", "compagnie"])

In [4]:
analyse.size()

regiment  compagnie
13 DBLE   1°           2
          2°           1
2 REP     1°           1
          2°           1
2 RIMA    2°           1
3 RIMA    1°           1
          2°           2
RICM      1°           2
          2°           1
dtype: int64

In [5]:
analyse.sum()

                    preScoreFamas  postScoreFamas
regiment compagnie
13 DBLE  1°                     5             132
         2°                     2              62
2 REP    1°                     3              70
         2°                     2              62
2 RIMA   2°                     3              70
3 RIMA   1°                     4              25
         2°                    55             151
RICM     1°                    28             119
         2°                    31              57

In [7]:
analyse["preScoreFamas"].sum()

regiment  compagnie
13 DBLE   1°            5
          2°            2
2 REP     1°            3
          2°            2
2 RIMA    2°            3
3 RIMA    1°            4
          2°           55
RICM      1°           28
          2°           31
Name: preScoreFamas, dtype: int64

In [8]:
analyse["preScoreFamas"].mean()

regiment  compagnie
13 DBLE   1°            2.5
          2°            2.0
2 REP     1°            3.0
          2°            2.0
2 RIMA    2°            3.0
3 RIMA    1°            4.0
          2°           27.5
RICM      1°           14.0
          2°           31.0
Name: preScoreFamas, dtype: float64