In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', 20)

clients = pd.read_csv("clients.csv", sep=';',  encoding='windows-1252', index_col="id")
produits = pd.read_csv("produits.csv", sep=';',  encoding='windows-1252', index_col="idproduit")
semaine1 = pd.read_csv("semaine 1.csv", sep=';',  encoding='windows-1252')
semaine2 = pd.read_csv("semaine 2.csv", sep=';',  encoding='windows-1252')

In [2]:
pd.merge(semaine1, clients, how='left', left_on='idclient', right_on='id')

,idclient,idproduit,nom,prenom,societe,fonction
0,512,3,NaN,NaN,NaN,NaN
1,499,3,NaN,NaN,NaN,NaN
2,499,13,NaN,NaN,NaN,NaN
3,11,9,LOUMPRE,Jacques,MONOPRIX EXPLOIT PAR ABREVIATION MPX,manager
4,24,19,DEMAY,Monique,ROQUETTE FRERES,admin resau
5,44,12,GOURRINAT,Jpierre,SYNERGIE,directeur
6,34,8,WEBERT,Edith,SOPRA STERIA GROUP,employé
7,24,19,DEMAY,Monique,ROQUETTE FRERES,admin resau
8,23,15,PONS,Aurélie,DALKIA,secretaire
9,46,14,TEILLAGORRY,Patricia,CHRONOPOST,boulanger
...,...,...,...,...,...,...
240,17,9,DELME,Jacques,CASTORAMA FRANCE,directeur
241,16,12,DOCRUZEIRO,Charlette,L'OREAL,employé
242,35,10,LOSTAPLAA,Simon,H&M HENNES & MAURITZ,directeur
243,35,2,LOSTAPLAA,Simon,H&M HENNES & MAURITZ,directeur
244,10,1,PESENTI,Joel,METRO CASH & CARRY FRANCE,boulanger
245,48,14,GANTIER,Odile,CGI FRANCE,developpeur
246,17,19,DELME,Jacques,CASTORAMA FRANCE,directeur
247,39,13,EPC ATLANTIQUE,NaN,CRIT,developpeur
248,45,6,SIN CADENAS,Gregorio,SYNERGIE,medecin
249,18,9,CAUCHI,René,MEUBLES IKEA FRANCE,medecin