In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 10)

In [12]:
exam_data  = {'nom': ['Anne', 'Alex', 'catherine', 'Jean', 'Emillie', 'Michel', 'Matieu', 'Laura', 'Kevin', 'Jonas'],
        'note': [12.5, 20, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
         'moyenne': [15, 18, 16.5, 9.1, 11.25, 17.5, 11.0, 13.8, 7.6, 14.3],
        'qualification': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes'],
               'salaire horaire': [" 1000 €", "18 €", "16,5 €", "9,1 €", "11,25 €", "17,5 €", "11,0 €", "13,8 €", "7,6 €", "14,3 €"],
         'appreciations': ['correct', 'à suivre', 'correct', 'neutre', 'excellent', 'neutre', 'très bien', 'besoin de soutien', 'à suivre', 'besoin de soutien']
              
        }
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
df["appreciations"] = df["appreciations"].astype("category")
df["qualification"] = df["qualification"].astype("category")
df

         nom  note  moyenne qualification salaire horaire      appreciations
a       Anne  12.5    15.00           yes          1000 €            correct
b       Alex  20.0    18.00            no            18 €           à suivre
c  catherine  16.5    16.50           yes          16,5 €            correct
d       Jean   NaN     9.10            no           9,1 €             neutre
e    Emillie   9.0    11.25            no         11,25 €          excellent
f     Michel  20.0    17.50           yes          17,5 €             neutre
g     Matieu  14.5    11.00           yes          11,0 €          très bien
h      Laura   NaN    13.80            no          13,8 €  besoin de soutien
i      Kevin   8.0     7.60            no           7,6 €           à suivre
j      Jonas  19.0    14.30           yes          14,3 €  besoin de soutien

In [4]:
df["appreciations"] = df["appreciations"].astype("category")

In [5]:
df["qualification"] = df["qualification"].astype("category")

In [6]:
# Mettre en minuscule
df["nom"].str.lower()

a         anne
b         alex
c    catherine
d         jean
e      emillie
f       michel
g       matieu
h        laura
i        kevin
j        jonas
Name: nom, dtype: object

In [7]:
# Mettre en majuscule
df["nom"].str.upper()

a         ANNE
b         ALEX
c    CATHERINE
d         JEAN
e      EMILLIE
f       MICHEL
g       MATIEU
h        LAURA
i        KEVIN
j        JONAS
Name: nom, dtype: object

In [8]:
# Mettre en 1 lettre majuscule
df["nom"].str.title()

a         Anne
b         Alex
c    Catherine
d         Jean
e      Emillie
f       Michel
g       Matieu
h        Laura
i        Kevin
j        Jonas
Name: nom, dtype: object

In [9]:
# taille de ma chaine
df["nom"].str.len()

a    4
b    4
c    9
d    4
e    7
f    6
g    6
h    5
i    5
j    5
Name: nom, dtype: int64

In [11]:
df["qualification"]

a    yes
b     no
c    yes
d     no
e     no
f    yes
g    yes
h     no
i     no
j    yes
Name: qualification, dtype: category
Categories (2, object): [no, yes]

In [13]:
# Vous pouvez également appliquer l'opération sur les index ou les noms de colonnes
df.index.str.upper()

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'], dtype='object')

In [14]:
df.columns.str.title()

Index(['Nom', 'Note', 'Moyenne', 'Qualification', 'Salaire Horaire',
       'Appreciations'],
      dtype='object')